.imageSlider{

    height: 200px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border:none;
}
#header {
    height: 10vh;
}
#footer {
    height: 10vh;
    ;
}
#body1 {
    height: 80vh;
    margin-top: 10vh;
    background-image: linear-gradient(to top, #5b63b7, #4a59a5, #394e93, #294481, #1a3a6f, #23305e, #25274e, #231f3e, #24172c, #1e111d, #15080f, #000000);
}
#mainbody {

}
#body2 {
    height: 100vh;
    background-color: #1a3a6f;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#body3 {
    height: 91vh;
    padding-top: 10vh;
    margin-bottom: 10vh;
    background-image: linear-gradient(to bottom, #5b63b7, #4a59a5, #394e93, #294481, #1a3a6f, #23305e, #25274e, #231f3e, #24172c, #1e111d, #15080f, #000000);
}
.modal-content {
    background-color: #1a3a6f;
}

